{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="description" content="">
    <title>{% block title %}{% endblock title %}</title>
    <link href="https://cdn.datatables.net/v/dt/dt-1.10.16/datatables.min.css" rel="stylesheet">
    <link href="{% static 'css/jqvmap.css' %}" rel="stylesheet">
    <link href="{% static 'css/flag-icon-css/css/flag-icon.min.css' %}" rel="stylesheet">
    <!-- Fullcalendar-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.7.0/fullcalendar.min.css" rel="stylesheet">
    <!-- Materialize-->
    <link href="{% static 'css/admin-materialize.min.cs' %}s" rel="stylesheet">
    <!-- Material Icons-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>
  <body>
    <main class="valign-wrapper">
      <div class="container">
        <div class="row">
          <div class="col s8 offset-s2">
            <div class="card card-login">
              <div class="card-login-splash">
                <div class="wrapper">
                </div>
                <img src="{% static 'img/logo_mta.png' %}" alt=""  class="img-responsive" height="100%">
              </div>
              <div class="card-content">
                <span class="card-title">Log In</span>
                <form method="post">
                  {% csrf_token %}
                  {% if form.errors %}
                  <span class="helper-text red-text" data-error="wrong">El usuario y/o contraseña son incorrectos.</span>
                  {% endif %}
                  <div class="input-field">
                    <input required id="{{form.username.id_for_label}}" name="{{form.username.html_name}}" type="text" class="validate">
                    <label for="{{form.username.id_for_label}}">Usuario</label>
                  </div>
                  <div class="input-field">
                    <input required id="{{form.password.id_for_label}}" name="{{form.password.html_name}}" type="password" class="validate">
                    <label for="{{form.password.id_for_label}}">Contraseña</label>
                  </div>
                  <br><br>
                  <div>
                    <input class="btn right" type="submit" value="Iniciar Sesión">
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
<!-- Scripts -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="{%static 'js/materialize.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.19.2/moment.min.js"></script>

<!-- External libraries -->

  <!-- jqvmap -->
    <script type="text/javascript" src="{%static 'js/jqvmap/jquery.vmap.min.js' %}"></script>
    <script type="text/javascript" src="{%static 'js/jqvmap/jquery.vmap.world.js' %}" charset="utf-8"></script>
    <script type="text/javascript" src="{%static 'js/jqvmap/jquery.vmap.sampledata.js' %}"></script>

    <!-- ChartJS -->
    <script type="text/javascript" src="{%static 'js/Chart.js' %}"></script>
    <script type="text/javascript" src="{%static 'js/Chart.Financial.js' %}"></script>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.7.0/fullcalendar.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.16/datatables.min.js"></script>
    <script src="{%static 'js/imagesloaded.pkgd.min.js' %}"></script>
    <script src="{%static 'js/masonry.pkgd.min.js' %}"></script>


<!-- Initialization script -->
    <script src="{%static 'js/admin.js' %}"></script>
    <script src="{%static 'js/init.js' %}"></script>
    <script type="text/javascript">
      $(document).ready(function() {
        // M.updateTextFields();
      });
    </script>
<!-- Error Messages -->
    {% if messages %}
    <script type="text/javascript">
      {%for message in messages %}
          {% if message.level != 40 %}
            M.toast({html: '{{message}}'})
          {% endif %}
      {% endfor %}
    </script>
    {% endif %}

  </body>
</html>
