{% extends "base.html" %}
{% load static %}
{% block title %}Directorio{% endblock %}
{% block content %}
    <main>
      <div class="fixed-action-btn">
        <a class="btn-floating btn-large red modal-trigger"  href="#modal1">
          <i class="large material-icons">add</i>
        </a>
      </div>
      <div class="row">
        <div class="col s12">
          <h2>Contactos</h2>
        </div>
        <div class="col l6 m8 s12">
        {% if contacts %}
          <ul class="collection">
          {% for contact in contacts %}
            <li class="collection-item">
              <b>{{contact.first_name}} {{contact.last_name}}</b>
              <span>({{contact.institution}}) - </span>
              <span>{{contact.phone_number}}</span>
            </li>
          {% endfor %}
          </ul>
        {% else %}
          <p>No hay contactos.</p>
        {% endif %}
        </div>
      </div>

      <!-- Modal Structure -->
      <div id="modal1" class="modal">
        <div class="modal-content">
          <h4>Nuevo Contacto</h4>
          <form action="/directory/" method="post">
            {% csrf_token %}
            {{ form }}
            <input type="submit" value="Submit">
          </form>
        </div>
        <div class="modal-footer">
          <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
        </div>
      </div>
    </main>
{% endblock content %}
    {% block js %}
    <script type="text/javascript">
      // Initialize Floating Action Button
      $(document).ready(function(){
        $('.fixed-action-btn').floatingActionButton();
      });
    </script>
    {% endblock js %}
  </body>
</html>
