{% extends "base.html" %}
{% load static %}
{% load administrative_extras %}
{% block title %}Directorio{% endblock %}

{% block nav_title %}Directorio{% endblock %}
{% block nav_tabs %}
{% endblock nav_tabs %}

{% block content %}
<main class="">
  <div class="container">
    <div class="row valign-wrapper">
      <div class="col s8">
        <h2>Contactos</h2>
      </div>
    </div>
    <div class="card">
      <div class="card-content">
        <div class="">
          <ul class="tabs ">
            <li class="tab col"><a class="active" href="#administratives">Administrativos</a></li>
            <li class="tab col"><a href="#volunteers">Voluntarios</a></li>
            <li class="tab col"><a href="#consultors">Consultores</a></li>
            <li class="tab col"><a href="#simpatizantes">Simpatizantes</a></li>
            <li class="tab col"><a href="#others">Otros</a></li>
          </ul>
        </div>
        <div id="administratives">
          {% if contact_list.admin %}
          <div class="card-content pt-0">
            <div class="row">
              <table id="administrative_table" class="striped highlight">
                <thead>
                  <tr>
                    <th>Nombre</th>
                    <th>Teléfono</th>
                    <th>Correo</th>
                    <th>Notas</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  {% for contact in contact_list.admin %}
                  <tr onmouseover="showButtons({{contact.id}})" onmouseout="hideButtons({{contact.id}})">
                    <td>
                      {{contact}}
                    </td>
                    <td>
                      {{contact.phone_number}}
                    </td>
                    <td>
                      {{contact.email}}
                    </td>
                    <td>
                      {{contact.comments}}
                    </td>
                    <td>
                      <div style="width:24px; height:24px;">
                        <a hidden id="buttonEdit{{contact.id}}" href="{% url 'directory:edit_contact' contact.id %}">
                          <i class="material-icons" style="color:#7987ac;">create</i>
                        </a>
                      </div>
                    </td>
                    <td>
                      {% if director %}
                      <div style="width:24px; height:24px;">
                        <a hidden id="button{{contact.id}}" href="{% url 'directory:delete_contact' contact.id %}">
                          <i class="material-icons" style="color:pink;">delete</i>
                        </a>
                      </div>
                      {% else %}
                      <div style="width:24px; height:24px;">
                        <a hidden id="button{{contact.id}}">
                        </a>
                      </div>
                      {% endif %}
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
          {% endif %}
        </div>
        <div id="volunteers">
          {% if contact_list.volunteer %}
          <div class="card-content pt-0">
            <div class="row">
              <table id="volunteer_table" class="striped highlight">
                <thead>
                  <tr>
                    <th>Nombre</th>
                    <th>Teléfono</th>
                    <th>Correo</th>
                    <th>Insitución</th>
                    <th>Notas</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  {% for contact in contact_list.volunteer %}
                  <tr onmouseover="showButtons({{contact.id}})" onmouseout="hideButtons({{contact.id}})">
                    <td>
                      {{contact}}
                    </td>
                    <td>
                      {{contact.phone_number}}
                    </td>
                    <td>
                      {{contact.email}}
                    </td>
                    <td>
                      {{contact.institution}}
                    </td>
                    <td>
                      {{contact.comments}}
                    </td>
                    <td>
                      <div style="width:24px; height:24px;">
                        <a hidden id="buttonEdit{{contact.id}}" href="{% url 'directory:edit_contact' contact.id %}">
                          <i class="material-icons" style="color:#7987ac;">create</i>
                        </a>
                      </div>
                    </td>
                    <td>
                      {% if director %}
                      <div style="width:24px; height:24px;">
                        <a hidden id="button{{contact.id}}" href="{% url 'directory:delete_contact' contact.id %}">
                          <i class="material-icons" style="color:pink;">delete</i>
                        </a>
                      </div>
                      {% else %}
                      <div style="width:24px; height:24px;">
                        <a hidden id="button{{contact.id}}">
                        </a>
                      </div>
                      {% endif %}
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
          {% endif %}
        </div>
        <div id="consultors">
          {% if contact_list.ext_cons %}
          <div class="card-content pt-0">
            <div class="row">
              <table id="consultors_table" class="striped highlight">
                <thead>
                  <tr>
                    <th>Nombre</th>
                    <th>Teléfono</th>
                    <th>Correo</th>
                    <th>Insitución</th>
                    <th>Notas</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  {% for contact in contact_list.ext_cons %}
                  <tr onmouseover="showButtons({{contact.id}})" onmouseout="hideButtons({{contact.id}})">
                    <td>
                      {{contact}}
                    </td>
                    <td>
                      {{contact.phone_number}}
                    </td>
                    <td>
                      {{contact.email}}
                    </td>
                    <td>
                      {{contact.institution}}
                    </td>
                    <td>
                      {{contact.comments}}
                    </td>
                    <td>
                      <div style="width:24px; height:24px;">
                        <a hidden id="buttonEdit{{contact.id}}" href="{% url 'directory:edit_contact' contact.id %}">
                          <i class="material-icons" style="color:#7987ac;">create</i>
                        </a>
                      </div>
                    </td>
                    <td>
                      {% if director %}
                      <div style="width:24px; height:24px;">
                        <a hidden id="button{{contact.id}}" href="{% url 'directory:delete_contact' contact.id %}">
                          <i class="material-icons" style="color:pink;">delete</i>
                        </a>
                      </div>
                      {% else %}
                      <div style="width:24px; height:24px;">
                        <a hidden id="button{{contact.id}}">
                        </a>
                      </div>
                      {% endif %}
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
          {% endif %}
        </div>
        <div id="simpatizantes">
          {% if contact_list.simp %}
          <div class="card-content pt-0">
            <div class="row">
              <h5>Simpatizantes</h5>
              <table id="simpatizantes_table" class="striped highlight">
                <thead>
                  <tr>
                    <th>Nombre</th>
                    <th>Teléfono</th>
                    <th>Correo</th>
                    <th>Insitución</th>
                    <th>Notas</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  {% for contact in contact_list.simp %}
                  <tr onmouseover="showButtons({{contact.id}})" onmouseout="hideButtons({{contact.id}})">
                    <td>
                      {{contact}}
                    </td>
                    <td>
                      {{contact.phone_number}}
                    </td>
                    <td>
                      {{contact.email}}
                    </td>
                    <td>
                      {{contact.institution}}
                    </td>
                    <td>
                      {{contact.comments}}
                    </td>
                    <td>
                      <div style="width:24px; height:24px;">
                        <a hidden id="buttonEdit{{contact.id}}" href="{% url 'directory:edit_contact' contact.id %}">
                          <i class="material-icons" style="color:#7987ac;">create</i>
                        </a>
                      </div>
                    </td>
                    <td>
                      {% if director %}
                      <div style="width:24px; height:24px;">
                        <a hidden id="button{{contact.id}}" href="{% url 'directory:delete_contact' contact.id %}">
                          <i class="material-icons" style="color:pink;">delete</i>
                        </a>
                      </div>
                      {% else %}
                      <div style="width:24px; height:24px;">
                        <a hidden id="button{{contact.id}}">
                        </a>
                      </div>
                      {% endif %}
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
          {% endif %}
        </div>
        <div id="others">
          {% if contact_list.other %}
          <div class="card-content pt-0">
            <div class="row">
              <table id="others_table" class="striped highlight">
                <thead>
                  <tr>
                    <th>Nombre</th>
                    <th>Teléfono</th>
                    <th>Correo</th>
                    <th>Insitución</th>
                    <th>Notas</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  {% for contact in contact_list.other %}
                  <tr onmouseover="showButtons({{contact.id}})" onmouseout="hideButtons({{contact.id}})">
                    <td>
                      {{contact}}
                    </td>
                    <td>
                      {{contact.phone_number}}
                    </td>
                    <td>
                      {{contact.email}}
                    </td>
                    <td>
                      {{contact.institution}}
                    </td>
                    <td>
                      {{contact.comments}}
                    </td>
                    <td>
                      <div style="width:24px; height:24px;">
                        <a hidden id="buttonEdit{{contact.id}}" href="{% url 'directory:edit_contact' contact.id %}">
                          <i class="material-icons" style="color:#7987ac;">create</i>
                        </a>
                      </div>
                    </td>
                    <td>
                      {% if director %}
                      <div style="width:24px; height:24px;">
                        <a hidden id="button{{contact.id}}" href="{% url 'directory:delete_contact' contact.id %}">
                          <i class="material-icons" style="color:pink;">delete</i>
                        </a>
                      </div>
                      {% else %}
                      <div style="width:24px; height:24px;">
                        <a hidden id="button{{contact.id}}">
                        </a>
                      </div>
                      {% endif %}
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
  <div class="fixed-action-btn">
    <a class="btn-floating btn-large red modal-trigger" href="{% url 'directory:new_contact' %}">
      <i class="large material-icons">add</i>
    </a>
  </div>
</main>
{% endblock content %}
{% block js %}
<script type="text/javascript">
  // Initialize Floating Action Button
  $(document).ready(function() {
    $('.fixed-action-btn').floatingActionButton();

    $('#volunteer_table').DataTable({
      "language": {
        "decimal": "",
        "emptyTable": "No hay datos disponibles",
        "info": "Mostrando _START_ a _END_ de _TOTAL_ totales",
        "infoEmpty": "Mostrando 0 a 0 de 0",
        "infoFiltered": "",
        "infoPostFix": "",
        "thousands": ",",
        "lengthMenu": "",
        "loadingRecords": "Cargando...",
        "processing": "Procesando...",
        "search": "Buscar:",
        "zeroRecords": "No se encontraron registros",
        "paginate": {
          "first": "Primero",
          "last": "Último",
          "next": "Siguiente",
          "previous": "Anterior"
        },
        "aria": {
          "sortAscending": ": activate to sort column ascending",
          "sortDescending": ": activate to sort column descending"
        }
      }
    });
    $('#administrative_table').DataTable({
      "language": {
        "decimal": "",
        "emptyTable": "No hay datos disponibles",
        "info": "Mostrando _START_ a _END_ de _TOTAL_ totales",
        "infoEmpty": "Mostrando 0 a 0 de 0",
        "infoFiltered": "",
        "infoPostFix": "",
        "thousands": ",",
        "lengthMenu": "",
        "loadingRecords": "Cargando...",
        "processing": "Procesando...",
        "search": "Buscar:",
        "zeroRecords": "No se encontraron registros",
        "paginate": {
          "first": "Primero",
          "last": "Último",
          "next": "Siguiente",
          "previous": "Anterior"
        },
        "aria": {
          "sortAscending": ": activate to sort column ascending",
          "sortDescending": ": activate to sort column descending"
        }
      }
    });
    $('#simpatizantes_table').DataTable({
      "language": {
        "decimal": "",
        "emptyTable": "No hay datos disponibles",
        "info": "Mostrando _START_ a _END_ de _TOTAL_ totales",
        "infoEmpty": "Mostrando 0 a 0 de 0",
        "infoFiltered": "",
        "infoPostFix": "",
        "thousands": ",",
        "lengthMenu": "",
        "loadingRecords": "Cargando...",
        "processing": "Procesando...",
        "search": "Buscar:",
        "zeroRecords": "No se encontraron registros",
        "paginate": {
          "first": "Primero",
          "last": "Último",
          "next": "Siguiente",
          "previous": "Anterior"
        },
        "aria": {
          "sortAscending": ": activate to sort column ascending",
          "sortDescending": ": activate to sort column descending"
        }
      }
    });
    $('#consultors_table').DataTable({
      "language": {
        "decimal": "",
        "emptyTable": "No hay datos disponibles",
        "info": "Mostrando _START_ a _END_ de _TOTAL_ totales",
        "infoEmpty": "Mostrando 0 a 0 de 0",
        "infoFiltered": "",
        "infoPostFix": "",
        "thousands": ",",
        "lengthMenu": "",
        "loadingRecords": "Cargando...",
        "processing": "Procesando...",
        "search": "Buscar:",
        "zeroRecords": "No se encontraron registros",
        "paginate": {
          "first": "Primero",
          "last": "Último",
          "next": "Siguiente",
          "previous": "Anterior"
        },
        "aria": {
          "sortAscending": ": activate to sort column ascending",
          "sortDescending": ": activate to sort column descending"
        }
      }
    });
    $('#others_table').DataTable({
      "language": {
        "decimal": "",
        "emptyTable": "No hay datos disponibles",
        "info": "Mostrando _START_ a _END_ de _TOTAL_ totales",
        "infoEmpty": "Mostrando 0 a 0 de 0",
        "infoFiltered": "",
        "infoPostFix": "",
        "thousands": ",",
        "lengthMenu": "",
        "loadingRecords": "Cargando...",
        "processing": "Procesando...",
        "search": "Buscar:",
        "zeroRecords": "No se encontraron registros",
        "paginate": {
          "first": "Primero",
          "last": "Último",
          "next": "Siguiente",
          "previous": "Anterior"
        },
        "aria": {
          "sortAscending": ": activate to sort column ascending",
          "sortDescending": ": activate to sort column descending"
        }
      }
    });
  });

  function showButtons(id){
    document.getElementById(`button${id}`).hidden = false;
    document.getElementById(`buttonEdit${id}`).hidden = false;
  }

  function hideButtons(id){
    document.getElementById(`button${id}`).hidden = true;
    document.getElementById(`buttonEdit${id}`).hidden = true
  }
</script>
{% endblock js %}
