{% extends "base.html" %}
{% load static %}
{% block title %}MTA - Inicio{% endblock %}

{% block nav_title %}Inicio{% endblock %}
{% block nav_tabs %}
<!-- Should be doing this based on the current logged user -->
<li class="bold waves-effect"><a class="collapsible-header">Pages<i class="material-icons chevron">chevron_left</i></a>
  <div class="collapsible-body">
    <ul>
      <li><a href="dashboard.html" class="waves-effect">Dashboard<i class="material-icons">web</i></a></li>
      <li><a href="pages-fixed-chart.html" class="waves-effect">Fixed Chart<i class="material-icons">list</i></a></li>
      <li><a href="pages-grid.html" class="waves-effect">Grid<i class="material-icons">dashboard</i></a></li>
      <li><a href="pages-chat.html" class="waves-effect">Chat<i class="material-icons">chat</i></a></li>
    </ul>
  </div>
</li>
<li class="bold waves-effect"><a class="collapsible-header">Charts<i class="material-icons chevron">chevron_left</i></a>
  <div class="collapsible-body">
    <ul>
      <li><a href="line-charts.html" class="waves-effect">Line Charts<i class="material-icons">show_chart</i></a></li>
      <li><a href="bar-charts.html" class="waves-effect">Bar Charts<i class="material-icons">equalizer</i></a></li>
      <li><a href="area-charts.html" class="waves-effect">Area Charts<i class="material-icons">multiline_chart</i></a></li>
      <li><a href="doughnut-charts.html" class="waves-effect">Doughnut Charts<i class="material-icons">pie_chart</i></a></li>
      <li><a href="financial-charts.html" class="waves-effect">Financial Charts<i class="material-icons">euro_symbol</i></a></li>
      <li><a href="interactive-charts.html" class="waves-effect">Interactive Charts<i class="material-icons">touch_app</i></a></li>
    </ul>
  </div>
</li>
<li class="bold waves-effect"><a class="collapsible-header">Tables<i class="material-icons chevron">chevron_left</i></a>
  <div class="collapsible-body">
    <ul>
      <li><a href="fullscreen-table.html" class="waves-effect">Fullscreen with Chart<i class="material-icons">show_chart</i></a></li>
      <li><a href="table-custom-elements.html" class="waves-effect">Table with Custom Elements<i class="material-icons">settings</i></a></li>
    </ul>
  </div>
</li>
<li class="bold waves-effect"><a class="collapsible-header">Calendar<i class="material-icons chevron">chevron_left</i></a>
  <div class="collapsible-body">
    <ul>
      <li><a href="calendar.html" class="waves-effect">Calendar<i class="material-icons">cloud</i></a></li>
    </ul>
  </div>
</li>
<li class="bold waves-effect"><a class="collapsible-header">Headers<i class="material-icons chevron">chevron_left</i></a>
  <div class="collapsible-body">
    <ul>
      <li><a href="header-tabbed.html" class="waves-effect">Tabbed<i class="material-icons">tab</i></a></li>
      <li><a href="header-metrics.html" class="waves-effect">Metrics<i class="material-icons">web</i></a></li>
      <li><a href="header-search.html" class="waves-effect">Search<i class="material-icons">search</i></a></li>
    </ul>
  </div>
</li>
<li class="bold waves-effect"><a class="collapsible-header">Account<i class="material-icons chevron">chevron_left</i></a>
  <div class="collapsible-body">
    <ul>
      <li><a href="log-in.html" class="waves-effect">Log In<i class="material-icons">person</i></a></li>
      <li><a href="settings.html" class="waves-effect">Settings<i class="material-icons">settings</i></a></li>
    </ul>
  </div>
</li>
{% endblock nav_tabs %}

{% block content %}
{% load i18n %}
<main>
  <div class="row">
    <div class="col s9">
    </div>
    <div class="col s3">
      <form action="{% url 'profiles:set_language' %}" method="POST">
          {% csrf_token %}
          <input name="next" type="hidden" value="{{ redirect_to }}" />
          <select name="language">
              {% get_current_language as LANGUAGE_CODE %}
              {% get_available_languages as LANGUAGES %}
              {% for lang in LANGUAGES %}
                  <option value="{{ lang.0 }}" {% if lang.0 == LANGUAGE_CODE %} selected="selected"{% endif %}>
                      {{ lang.1 }} ({{ lang.0 }})
                  </option>
              {% endfor %}
          </select>
          <button style="float: right;" class="btn waves-effect waves-light btn-small" type="submit" name="action">
            <i class="large material-icons" style="font-size: 1.8rem;">compare_arrows</i>
          </button>
      </form>
    </div>
  </div>
  <br><br>
  <div class="container">
    <div class="row">
      <div class="col s12 m12">
        <div class="card z-depth-3">
          <div class="card-content">
            <form action="/profiles/new_promoter/" method="post">
              {% csrf_token %}
              <div class="row">
                <h4 class="left">{% blocktrans %}Información de la cuenta{% endblocktrans %}</h4>
                <div class="input-field col s12">
                  <input required id="{{form.username.id_for_label}}" name="{{form.username.html_name}}" type="text" class="validate">
                  <label for="{{form.username.id_for_label}}">{% blocktrans %}Usuario{% endblocktrans %}</label>
                </div>
                <div class="input-field col s12 m6">
                  <input required id="{{form.password.id_for_label}}" name="{{form.password.html_name}}" type="password" class="validate">
                  <label for="{{form.password.id_for_label}}"> {% blocktrans %}Contraseña{% endblocktrans %}</label>
                </div>
                <div class="input-field col s12 m6">
                  <input required id="passwordConfirm" name="" type="password" class="validate">
                  <label for="passwordConfirm">{% blocktrans %}Confirmar contraseña{% endblocktrans %}</label>
                </div>
              </div>
              <h4 class="left-align col s12">{% blocktrans %}Información de la promotora{% endblocktrans %}</h4>
              <div class="row">
                <div class="input-field col s12 m4">
                  <input required id="{{form.name.id_for_label}}" name="{{form.name.html_name}}" type="text" class="validate slide2-input">
                  <label for="{{form.name.id_for_label}}">{% blocktrans %}Nombre{% endblocktrans %}</label>
                </div>
                <div class="input-field col s12 m4">
                  <input required id="{{form.last_name_paternal.id_for_label}}" name="{{form.last_name_paternal.html_name}}" type="text" class="validate slide2-input">
                  <label for="{{form.last_name_paternal.id_for_label}}">{% blocktrans %}Apellido Paterno{% endblocktrans %}</label>
                </div>
                <div class="input-field col s12 m4">
                  <input required id="{{form.last_name_maternal.id_for_label}}" name="{{form.last_name_maternal.html_name}}" type="text" class="validate slide2-input">
                  <label for="{{form.last_name_maternal.id_for_label}}">{% blocktrans %}Apellido Materno{% endblocktrans %}</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12 m4">
                  <input required id="{{form.phone_number.id_for_label}}" name="{{form.phone_number.html_name}}" type="text" class="validate slide2-input">
                  <label for="{{form.phone_number.id_for_label}}">{% blocktrans %}Teléfono{% endblocktrans %}</label>
                </div>
                <div class="input-field col s12 m4">
                  <input required id="{{form.address.id_for_label}}" name="{{form.address.html_name}}" type="text" class="validate slide2-input">
                  <label for="{{form.address.id_for_label}}">{% blocktrans %}Direccion{% endblocktrans %}</label>
                </div>
                <div class="input-field col s12 m4">
                  <input required id="{{form.email.id_for_label}}" name="{{form.email.html_name}}" type="text" class="validate slide2-input">
                  <label for="{{form.email.id_for_label}}">{% blocktrans %}Correo{% endblocktrans %}</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <select id="{{form.communities.id_for_label}}" name="{{form.communities.html_name}}" multiple>
                    {% for choice in form.communities.field.queryset %}
                    <option value="{{choice.id}}">{{choice}}</option>
                    {% endfor %}
                  </select>
                  <label for="{{form.communities.id_for_label}}">{% blocktrans %}Comunidades{% endblocktrans %}</label>
                </div>
              </div>
              <h4 class="left-align col s12">{% blocktrans %}Información del recado{% endblocktrans %}</h4>
              <div class="row">
                <div class="input-field col s12 m6">
                  <input required id="{{form.contact_name.id_for_label}}" name="{{form.contact_name.html_name}}" type="text" class="validate">
                  <label for="{{form.contact_name.id_for_label}}">{% blocktrans %}Nombre de recado{% endblocktrans %}</label>
                </div>
                <div class="input-field col s12 m6">
                  <input required id="{{form.contact_phone_number.id_for_label}}" name="{{form.contact_phone_number.html_name}}" type="text" class="validate">
                  <label for="{{form.contact_phone_number.id_for_label}}">{% blocktrans %}Teléfono de recado{% endblocktrans %}</label>
                </div>
              </div>
              <button class="btn waves-effect waves-light right" type="submit"value="Submit" name="action">
                <i class="material-icons">send</i>
              </button>
              <br><br>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock content %}
{% block init_scripts %}
{% endblock init_scripts %}
{% block js %}
<script type="text/javascript">
  // Initialize Floating Action Button
  $(document).ready(function(){
    //Inicializar componentes
  });

  //Validar contraseña
  $("#{{form.password.id_for_label}}").on("focusout", function (e) {
    if ($(this).val() != $("#passwordConfirm").val()) {
      $("#passwordConfirm").removeClass("valid").addClass("invalid");
    } else {
      $("#passwordConfirm").removeClass("invalid").addClass("valid");
    }
  });

  $("#passwordConfirm").on("keyup", function (e) {
      if ($("#{{form.password.id_for_label}}").val() != $(this).val()) {
          $(this).removeClass("valid").addClass("invalid");
      } else {
          $(this).removeClass("invalid").addClass("valid");
      }
  });
</script>
{% endblock js %}
