.sidenav{
  background-color: #BCC859
}

.tabs .tab a, .tabs .tab a.active {
  color: #BCC859;
  background.color: blue;
}


.not-selected-community, .not-selected-community:focus{
  border-bottom: 2px solid #f44336!important;
}

.not-selected-community::after{
  content: "Selecciona una comunidad";
  position: absolute;
  bottom: -20px;
  background: red;
}

.pt-0{
  padding-top: 1px !important;
}

.mt-1{
  margin-top: 5px !important;
}

.img-container{
  padding-top: 5px;
}

.promoter-nav{
  width: 90%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.img-responsive {
   min-width: 100vw;
   width: 100%;
   height: 10vh;
   object-fit: cover;
}
