.sidenav{
  background-color: #faaca8
}

.tabs .tab a, .tabs .tab a.active {
  color: #faaca8;
  background.color: blue;
}


.not-selected-community, .not-selected-community:focus{
  border-bottom: 2px solid #f44336!important;
}

.not-selected-community::after{
  content: "Selecciona una comunidad";
  position: absolute;
  bottom: -20px;
  background: red;
}

.pt-0{
  padding-top: 1px !important;
}

.promoter-nav{
  width: 90%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.percentage_bar_div{
  position:fixed;
  width: 75%;
  z-index: 99;
  margin: 12px;
}

.color-pink{
  background-color: pink;
}
