.sidenav{
  background-color: #faaca8
}

.tabs .tab a, .tabs .tab a.active {
  color: #faaca8;
}

.pt-0{
  padding-top: 1px !important;
}

.promoter-nav{
  width: 90%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
