{% extends "base.html" %}
{% load static %}
{% block title %}MTA - Inicio{% endblock %}

{% block nav_title %}Inicio{% endblock %}

{% block content %}
<main>
  <div class="container">
    <div class="row">
      <div class="col s12 m4">
        <a href="/profiles/promoter_profile/{{promoter.id}}/">
          <div class="card">
            <div class="card-content">
              <img class="promoter-nav center-align" src="{% static 'img/person.svg' %}" alt="Perfil">
              <h5 class="center-align black-text">Mi Perfil</h5>
            </div>
          </div>
        </a>
      </div>
      <div class="col s12 m4">
        <a href="/administrative/payments">
          <div class="card">
            <div class="card-content">
              <img class="promoter-nav center-align" src="{% static 'img/dollar.svg' %}" alt="Pagos">
              <h5 class="center-align black-text">Mis Pagos</h5>
            </div>
          </div>
        </a>
      </div>
      <div class="col s12 m4">
        <a class="modal-trigger" href="#modal1">
          <div class="card">
            <div class="card-content">
              <img class="promoter-nav center-align" src="{% static 'img/alert.svg' %}" alt="Pagos">
              <h5 class="center-align black-text">Alerta</h5>
            </div>
          </div>
        </a>
      </div>
      <div class="col s12 m4">
        <div class="card">
          <div class="card-content">
            <img class="promoter-nav center-align" src="{% static 'img/calendar.svg' %}" alt="Reuniones Semanales">
            <h5 class="center-align black-text">Juntas Semanales</h5>
          </div>
        </div>
      </div>
      <div class="col s12 m4">
        <a href="/administrative/my_communities">
          <div class="card">
            <div class="card-content">
              <img class="promoter-nav center-align" src="{% static 'img/group.svg' %}" alt="Comunidades">
              <h5 class="center-align black-text">Mis Comunidades</h5>
            </div>
          </div>
        </a>
      </div><div class="col s12 m4">
        <a href="/administrative/production_report_list">
          <div class="card">
            <div class="card-content">
              <img class="promoter-nav center-align" src="{% static 'img/document.svg' %}" alt="Reportes de Produccion  ">
              <h5 class="center-align black-text">Producción</h5>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</main>
<div id="modal1" class="modal">
  <div class="modal-content">
    <h4>Nueva Alerta</h4>
    <form action="/profiles/new_alert/" method="post">
      {% csrf_token %}
      <div class="input-field">
        <input required id="{{alert_form.name.id_for_label}}" name="{{alert_form.name.html_name}}" type="text" class="validate">
        <label for="{{alert_form.name.id_for_label}}">Título</label>
      </div>
      <div class="input-field">
        <input required id="{{alert_form.description.id_for_label}}" name="{{alert_form.description.html_name}}" type="text" class="validate">
        <label for="{{alert_form.description.id_for_label}}">Descripción</label>
      </div>
      <button class="btn waves-effect waves-light right" type="submit"value="Submit" name="action">Enviar
        <i class="material-icons right">send</i>
      </button>
      <br><br>
      <!-- <input   type="submit" value="Submit"> -->
    </form>
  </div>
  <!-- <div class="modal-footer">
    <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
  </div> -->
</div>
{% endblock content %}

{% block js %}
<script type="text/javascript">

</script>
{% endblock js %}
