{% extends "base.html" %}
{% load static %}
{% block title %}MTA - Pagos{% endblock %}

{% block nav_title %}Pagos{% endblock %}
{% block nav_tabs %}
{% endblock nav_tabs %}

{% block content %}
<main>
  <div class="container">
    <div class="card">
      <div class="card-content">
        <div class="row">
          <div class="col s12">
            <ul class="tabs ">
              <li class="tab col s3"><a class="active" href="#unresolved">Por Pagar</a></li>
              <li class="tab col s3"><a href="#resolved">Pagados</a></li>
            </ul>

          </div>
          <div id="unresolved" class="col s12">
            <table class="striped highlight">
              <thead>
                <tr>
                  <th>Promotora</th>
                  <th>Descripcion</th>
                  <th>Cantidad</th>
                  <th>Pagar antes de</th>
                  <th>Marcar como pagado</th>
                </tr>
              </thead>
              <tbody>
                {% for payment in upcoming_payments %}
                <tr>
                  <td>
                    {{payment.promoter}}
                  </td>
                  <td>
                    {{payment.description}}
                  </td>
                  <td>
                    $ {{payment.quantity}}
                  </td>
                  {% if payment.due_date > curdate %}
                  <td>
                    {{payment.due_date|date:"d / m / Y"}}
                  </td>
                  {% else %}
                  <td class="red-text">
                    {{payment.due_date|date:"d / m / Y"}}
                  </td>
                  {% endif %}
                  <td>
                    <a class="modal-trigger " onclick="ajaxCall({{payment.id}})">
                      <i class="material-icons">check_circle_outline</i>
                    </a>
                  </td>
                </tr>
                {% empty %}
                <tr>
                  <td>No hay pagos pendientes.</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
          <div id="resolved" class="col s12">
            <table class="striped highlight">
              <thead>

                <tr>
                  <th>Promotora</th>
                  <th>Descripcion</th>
                  <th>Cantidad</th>
                  <th>Comentarios</th>
                  <th>Fecha de pago</th>
                </tr>

              </thead>
              <tbody>
                {% for payment in past_payments %}
                <tr>
                  <td>
                    {{payment.promoter}}
                  </td>
                  <td>
                    {{payment.description}}
                  </td>
                  <td>
                    $ {{payment.quantity}}
                  </td>
                  <td>
                    {{payment.comment}}
                  </td>
                  <td>
                    {{payment.pay_date|date:"d / m / Y"}}
                  </td>
                </tr>
                {% empty %}
                <tr>
                  <td>No hay pagos realizados</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="fixed-action-btn">
    <a class="btn-floating btn-large red modal-trigger" href="#new_payment">
      <i class="large material-icons">add</i>
    </a>
  </div>
</main>
<div id="pay-modal" class="modal">
  <div class="modal-content">
    <h4>Pagar</h4>
    <div class="row">
      <div class="col s12"><b>Promotora: </b><span id="promoter-name">loremipsum</span></div>
    </div>
    <div class="row">
      <div class="col s12"><b>Descripción: </b><span id="description-text">loremipsum</span></div>
    </div>
    <div class="row">
      <div class="col s12"><b>Cantidad: </b><span id="quantity-text">loremipsum</span></div>
    </div>
    <form id="pay-form" method="post" action="/administrative/pay/">
      {% csrf_token %}
      <div class="input-field">
        <input id="{{form.comment.id_for_label}}" name="{{form.comment.html_name}}" type="text" class="validate" required>
        <label for="{{form.comment.id_for_label}}">No. Folio, Comentarios, etc.</label>
      </div>
      <button class="btn waves-effect waves-light right" type="submit" value="Submit" name="action">Pagar
        <i class="material-icons right">send</i>
      </button><br>
    </form>
    <br>
  </div>
</div>
<div id="new_payment" class="modal">
  <div class="modal-content">
    <h4>Nuevo pago</h4>
    <form action="/administrative/add_payment/" method="POST">
      {% csrf_token %}
      <div class="row">
        <div class="input-field col s4 m4">
          <label for="{{new_payment.promoter.id_for_label}}" class="active">Promotora</label>
          <select id="{{new_payment.promoter.id_for_label}}" name="{{new_payment.promoter.html_name}}" required>
            <option value="" disabled selected>Selecciona uno</option>
            {% for choice in new_payment.promoter.field.queryset %}
            <option value="{{choice.id}}">{{choice}}</option>
            {% endfor %}
          </select>
        </div>
        <div class="input-field col s4 m4">
          <label class="active" for="{{new_payment.quantity.id_for_label}}">Cantidad</label>
          <input required id="{{new_payment.quantity.id_for_label}}" name="{{new_payment.quantity.html_name}}" type="number" class="validate">
        </div>
        <div class="input-field col s4 m4">
          <label for="{{new_payment.due_date.id_for_label}}" class="active">Pagar antes de</label>
          <input required id="{{new_payment.due_date.id_for_label}}" name="{{new_payment.due_date.html_name}}" type="text" class="validate datepicker" minDate="{{curdate}}">
        </div>
        <div class="input-field col s12 m12">
          <label for="{{new_payment.description.id_for_label}}" class="active">Descripcion</label>
          <input required id="{{new_payment.description.id_for_label}}" name="{{new_payment.description.html_name}}" type="text" class="validate">
        </div>

        <button class="btn waves-effect waves-light right" type="submit" value="Submit" name="action">Guardar
          <i class="material-icons right">send</i>
        </button>
      </div>

      <br><br>
    </form>
  </div>
</div>
{% endblock content %}
{% block init_scripts %}
{% endblock init_scripts %}
{% block js %}
<script type="text/javascript">
  $(document).ready(function() {
    //Inicializar componentes
    $('.datepicker').datepicker({
      format: 'dd-mm-yyyy',
      minDate: new Date(),
      container: 'body',
      i18n: {
                months: ["Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre"],
                monthsShort: ["Ene", "Feb", "Mar", "Abr", "May", "Jun", "Jul", "Ago", "Set", "Oct", "Nov", "Dic"],
                weekdays: ["Domingo","Lunes", "Martes", "Miércoles", "Jueves", "Viernes", "Sábado"],
                weekdaysShort: ["Dom","Lun", "Mar", "Mie", "Jue", "Vie", "Sab"],
                weekdaysAbbrev: ["D","L", "M", "M", "J", "V", "S"]
            }
    });
    $('.tabs').tabs(
      swipeable = true
    );
  });

  function ajaxCall(id) {
    path = "/administrative/get_payment/" + id;
    $.ajax({
      method: "GET",
      url: path
    }).done(function(data) {
      console.log(data['promoter']);
      $("#promoter-name").text(data['promoter']);
      $("#description-text").text(data['description']);
      $("#quantity-text").text("$" + data['quantity']);
      $("#pay-form").attr("action", '/administrative/pay/' + data['pk'] + '/');
      $('#pay-modal').modal('open');
    });
  }
</script>
{% endblock js %}
