{% extends 'base.html %'}
{% load static %}
{% block title %}MTA - Inicio{% endblock %}
{% block nav_title %}Inicio{% endblock %}
{% block content %}
<form action='.' method='POST'>{% csrf_token %}
  {{form.as_p}}
  <input type='submit'value='Save' />
</form>

{% endblock %}
{% block init_scripts %}
<script src="{%static 'js/page-scripts/dashboard.js' %}"></script>
{% endblock init_scripts %}
{% block js %}
<script type="text/javascript">
  // Initialize Floating Action Button
  $(document).ready(function(){
    $('.fixed-action-btn').floatingActionButton();
  });
</script>
{% endblock js %}
