{% extends "base.html" %}
{% load static %}
{% block title %}MTA - Beneficiario {% endblock %}
{% block nav_title %} Beneficiario {% endblock %}
{% block nav_tabs %}
{% endblock nav_tabs %}
{% block content %}
<main>
  <div class="fixed-action-btn">
    <a class="btn-floating btn-large blue modal-trigger" href="#">
      <i class="large material-icons">edit</i>
    </a>
  </div>
  <br><br>
  <div class="container">
    <br><br>
    <div class="row">
      <div class="col s12 m12">
        <div class="card z-depth-3">
          <div class="card-content" style="padding:24px 48px;">
            <h3>{{beneficiary.name}} {{beneficiary.last_name_paternal}}</h3>
            <div class="row">
              <div class="col s6">
                <h6>Teléfono/Celular</h6>
                <p>{{beneficiary.phone}}</p>
              </div>
              <div class="col s6">
                <h6>Correo Electrónico</h6>
                <p>{{beneficiary.email}}</p>
              </div>
            </div>
            <div class="row">
              <div class="col s6">
                <h6>Comunidad</h6>
                <p>{{beneficiary.community}}</p>
              </div>
              <div class="col s6">
                <h6>Promotora</h6>
                <p>{{beneficiary.promoter}}</p>
              </div>
            </div>
            <div class="row">
              <div class="col s6">
                <h6>Cuenta</h6>
                <p>{{beneficiary.account_number}}</p>
              </div>
              <div class="col s6">
                <h6>Banco</h6>
                <p>{{beneficiary.bank_name}}</p>
              </div>
            </div>
            <div class="row">
              <div class="col s6">
                <h6>Num. Beneficiarios</h6>
                <p>{{beneficiary.num_of_family_beneficiaries}}</p>
              </div>
              <div class="col s6">
                <h6>Agregado</h6>
                <p>{{beneficiary.created_at}}</p>
              </div>
            </div>
            <div class="row">
              <h5>Recado</h5>
              <div class="col s6">
                <h6>Nombre</h6>
                <p>{{beneficiary.contact_name}}</p>
              </div>
              <div class="col s6">
                <h6>Teléfono</h6>
                <p>{{beneficiary.contact_phone}}</p>
              </div>
            </div>
            <br>
            <div class="row">
              <h5>Programas</h5>
              <div class="row">
                <div class="col 12">
                  {% for prog in programs %}
                  <div class="col s12">
                    <div class="card">
                      <div class="card-content">
                        <span class="card-title">{{prog.program.name}}</span>
                        {% if prog.program.name == 'Productores' %}
                        <div class="row">
                          <div class="col">
                            <h6>CURP</h6>
                            <p>{{prog.curp}}</p>
                          </div>
                          <div class="col">
                            <h6>Dirección</h6>
                            <p>{{prog.house_address}}</p>
                          </div>
                          <div class="col">
                            <h6>Referencias</h6>
                            <p>{{prog.house_references}}</p>
                          </div>
                          <div class="col">
                            <h6>Ubicación del huerto</h6>
                            <p>{{prog.huerto_coordinates}}</p>
                          </div>
                        </div>
                        {% endif %}
                        {% if prog.program.name == 'Cisternas' %}
                        <div class="row">
                          <div class="col">
                            <h6>Capacidad de cisterna</h6>
                            <p>{{prog.water_capacity}}</p>
                            <h6>Ubicación</h6>
                            <p>{{prog.cisterna_location}}</p>
                            <h6>Status</h6>
                            <p>{{prog.cisterna_status}}</p>
                          </div>
                        </div>
                        {% endif %}
                        {% if prog.program.name == 'Cajas de ahorro' %}
                        <div class="row">
                          <div class="col">
                            <h6>Rol</h6>
                            <p>{{prog.savings_account_role}}</p>
                          </div>
                        </div>
                        {% endif %}
                        {% if prog.program.name == 'Ecónomas' %}
                        <div class="row">
                          <div class="col">
                            <h6>Escuela</h6>
                            <p>{{prog.school}}</p>
                          </div>
                        </div>
                        {% endif %}
                        {% if prog.program.name == 'Desayunos con amaranto' %}
                        <div class="row">
                          <div class="col">
                            <h6>Escuela</h6>
                            <p>{{prog.school}}</p>
                            <h6>Edad</h6>
                            <p>{{prog.age}}</p>
                            <h6>Peso inicial</h6>
                            <p>{{prog.initial_weight}}</p>
                          </div>
                        </div>
                        {% endif %}
                      </div>
                    </div>
                  </div>
                  {% endfor %}
                </div>
              </div>
            </div>
            <div class="row center">
              <a class="waves-effect waves-light btn-small" onclick="add_program()"><i class="large material-icons left" style="font-size: 28px">add</i>Programa</a>
            </div>
            <br>
            <div id="add_program" class="row" hidden>
              <form action="/administrative/modify_beneficiary/" method="POST">
                {% csrf_token %}
                <input id="{{form.beneficiary.id_for_label}}" name="{{form.beneficiary.html_name}}" type="text" value="{{beneficiary.id}}" hidden>
                <label for="{{form.program.id_for_label}}">Programa al que pertenece</label>
                <select required id="{{form.program.id_for_label}}" name="{{form.program.html_name}}" onchange="showProgramFields('{{form.program.id_for_label}}')">
                  <option value="" disabled selected> Seleccione uno </option>
                  {% for prog in allowed_programs %}
                  <option value="{{prog.id}}">{{prog}}</option>
                  {% endfor %}
                </select>
                <div class="container">
                  <div id="fields_for_productor" hidden>
                    <div class="input-field">
                      <input id="{{form.curp.id_for_label}}" name="{{form.as_p.curp.html_name}}" type="text" class="validate change_req">
                      <label for="{{form.curp.id_for_label}}">CURP</label>
                    </div>
                    <div class="input-field">
                      <input id="{{form.house_address.id_for_label}}" name="{{form.house_address.html_name}}" type="text" class="validate change_req">
                      <label for="{{form.house_address.id_for_label}}">Dirección de casa</label>
                    </div>
                    <div class="input-field">
                      <input id="{{form.house_references.id_for_label}}" name="{{form.house_references.html_name}}" type="text" class="validate change_req">
                      <label for="{{form.house_references.id_for_label}}">Referencias</label>
                    </div>
                    <div class="input-field">
                      <input id="{{form.huerto_coordinates.id_for_label}}" name="{{form.huerto_coordinates.html_name}}" type="text" class="validate change_req">
                      <label for="{{form.huerto_coordinates.id_for_label}}">Ubicación del huerto</label>
                    </div>
                  </div>
                  <div id="fields_for_cisterna" hidden>
                    <div class="input-field">
                      <input id="{{form.water_capacity.id_for_label}}" name="{{form.water_capacity.html_name}}" type="number" class="validate change_req" step="0.1">
                      <label for="{{form.water_capacity.id_for_label}}">Capacidad de cisterna</label>
                    </div>
                    <div class="input-field">
                      <input id="{{form.cisterna_location.id_for_label}}" name="{{form.cisterna_location.html_name}}" type="text" class="validate change_req">
                      <label for="{{form.cisterna_location.id_for_label}}">Ubicación</label>
                    </div>
                    <label for="{{form.cisterna_status.id_for_label}}">Status</label>
                    <select id="{{form.cisterna_status.id_for_label}}" name="{{form.cisterna_status.html_name}}" class="change_req">
                      <option value="" disabled selected> Seleccione un status </option>
                      <option value="Concluída">Concluída</option>
                      <option value="En uso">En uso</option>
                      <option value="En obra">En obra</option>
                    </select>
                  </div>
                  <div id="fields_for_saving_account" hidden>
                    <div class="input-field inline">
                      <select id="{{form.savings_account_role.id_for_label}}" name="{{form.savings_account_role.html_name}}" class="change_req">
                        <option value="" disabled selected>Selecciona un rol</option>
                        <option value="Presidente">Presidente</option>
                        <option value="Tesorero">Tesorero</option>
                        <option value="Socio">Socio</option>
                      </select>
                    </div>
                  </div>
                  <div id="field_school" hidden>
                    <div class="input-field">
                      <input id="{{form.school.id_for_label}}" name="{{form.school.html_name}}" type="text" class="validate change_req">
                      <label for="{{form.school.id_for_label}}">Escuela</label>
                    </div>
                  </div>
                  <div id="fields_for_breakfast" hidden>
                    <div class="input-field">
                      <input id="{{form.age.id_for_label}}" name="{{form.age.html_name}}" type="number" class="validate change_req">
                      <label for="{{form.age.id_for_label}}">Edad</label>
                    </div>
                    <div class="input-field">
                      <input id="{{form.initial_weight.id_for_label}}" name="{{form.initial_weight.html_name}}" type="number" class="validate change_req" step="0.1">
                      <label for="{{form.initial_weight.id_for_label}}">Peso inicial</label>
                    </div>
                  </div>
                </div>
                <button class="btn waves-effect waves-light right" type="submit"value="Submit" name="action">Agregar
                </button>
                <div id="full_form"></div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock %}
{% block init_scripts %}
<script src="{%static 'js/page-scripts/dashboard.js' %}"></script>
<script src="{%static 'js/mta_js/administrative.js' %}"></script>
{% endblock init_scripts %}
{% block js %}
<script type="text/javascript">
  // Initialize Floating Action Button
  $(document).ready(function(){
    $('select').formSelect();
  });

  function add_program(){
    document.getElementById("add_program").hidden = !document.getElementById("add_program").hidden;
  }

  $("select[required]").css({display: "block", height: 0, padding: 0, width: 0, position: 'absolute'});

  $("#{{form.program.id_for_label}}").on('change', function(){
    var req = document.getElementsByClassName('change_req');

    for(i=0; i < req.length; i++){
      req[i].required = false;
      console.log(req[i].required);
    }

    var program = $( "#{{form.program.id_for_label}} option:selected" ).text();
    switch (program) {
      case "Productores":
        $("#{{form.curp.id_for_label}}").prop('required',true);
        $("#{{form.house_address.id_for_label}}").prop('required',true);
        $("#{{form.house_references.id_for_label}}").prop('required',true);
        $("#{{form.huerto_coordinates.id_for_label}}").prop('required',true);
        break;
      case "Cisternas":
        $("#{{form.water_capacity.id_for_label}}").prop('required',true);
        $("#{{form.cisterna_location.id_for_label}}").prop('required',true);
        $("#{{form.cisterna_status.id_for_label}}").prop('required',true);
        $("select[required]").css({display: "block", height: 0, padding: 0, width: 0, position: 'absolute'});
        break;
      case "Cajas de ahorro":
        $("#{{form.savings_account_role.id_for_label}}").prop('required',true);
        $("select[required]").css({display: "block", height: 0, padding: 0, width: 0, position: 'absolute'});
       break;
      case "Ecónomas":
        $("#{{form.school.id_for_label}}").prop('required',true);
        break;
      case "Desayunos con amaranto":
        $("#{{form.school.id_for_label}}").prop('required',true);
        $("#{{form.age.id_for_label}}").prop('required',true);
        $("#{{form.initial_weight.id_for_label}}").prop('required',true);
        break;
    }

    for(i=0; i < req.length; i++){
      console.log(req[i].required);
    }
  });
</script>
{% endblock js %}
