{% extends "base.html" %}
{% load static %}
{% block title %}MTA - Registro Cuneta de Ahorro{% endblock %}
{% block nav_title %}Registro Cuenta de Ahorro{% endblock %}
{% block nav_tabs %}
<!-- Should be doing this based on the current logged user -->
<li class="bold waves-effect"><a class="collapsible-header">Pages<i class="material-icons chevron">chevron_left</i></a>
  <div class="collapsible-body">
    <ul>
      <li><a href="dashboard.html" class="waves-effect">Dashboard<i class="material-icons">web</i></a></li>
      <li><a href="pages-fixed-chart.html" class="waves-effect">Fixed Chart<i class="material-icons">list</i></a></li>
      <li><a href="pages-grid.html" class="waves-effect">Grid<i class="material-icons">dashboard</i></a></li>
      <li><a href="pages-chat.html" class="waves-effect">Chat<i class="material-icons">chat</i></a></li>
    </ul>
  </div>
</li>
<li class="bold waves-effect"><a class="collapsible-header">Charts<i class="material-icons chevron">chevron_left</i></a>
  <div class="collapsible-body">
    <ul>
      <li><a href="line-charts.html" class="waves-effect">Line Charts<i class="material-icons">show_chart</i></a></li>
      <li><a href="bar-charts.html" class="waves-effect">Bar Charts<i class="material-icons">equalizer</i></a></li>
      <li><a href="area-charts.html" class="waves-effect">Area Charts<i class="material-icons">multiline_chart</i></a></li>
      <li><a href="doughnut-charts.html" class="waves-effect">Doughnut Charts<i class="material-icons">pie_chart</i></a></li>
      <li><a href="financial-charts.html" class="waves-effect">Financial Charts<i class="material-icons">euro_symbol</i></a></li>
      <li><a href="interactive-charts.html" class="waves-effect">Interactive Charts<i class="material-icons">touch_app</i></a></li>
    </ul>
  </div>
</li>
<li class="bold waves-effect"><a class="collapsible-header">Tables<i class="material-icons chevron">chevron_left</i></a>
  <div class="collapsible-body">
    <ul>
      <li><a href="fullscreen-table.html" class="waves-effect">Fullscreen with Chart<i class="material-icons">show_chart</i></a></li>
      <li><a href="table-custom-elements.html" class="waves-effect">Table with Custom Elements<i class="material-icons">settings</i></a></li>
    </ul>
  </div>
</li>
<li class="bold waves-effect"><a class="collapsible-header">Calendar<i class="material-icons chevron">chevron_left</i></a>
  <div class="collapsible-body">
    <ul>
      <li><a href="calendar.html" class="waves-effect">Calendar<i class="material-icons">cloud</i></a></li>
    </ul>
  </div>
</li>
<li class="bold waves-effect"><a class="collapsible-header">Headers<i class="material-icons chevron">chevron_left</i></a>
  <div class="collapsible-body">
    <ul>
      <li><a href="header-tabbed.html" class="waves-effect">Tabbed<i class="material-icons">tab</i></a></li>
      <li><a href="header-metrics.html" class="waves-effect">Metrics<i class="material-icons">web</i></a></li>
      <li><a href="header-search.html" class="waves-effect">Search<i class="material-icons">search</i></a></li>
    </ul>
  </div>
</li>
<li class="bold waves-effect"><a class="collapsible-header">Account<i class="material-icons chevron">chevron_left</i></a>
  <div class="collapsible-body">
    <ul>
      <li><a href="log-in.html" class="waves-effect">Log In<i class="material-icons">person</i></a></li>
      <li><a href="settings.html" class="waves-effect">Settings<i class="material-icons">settings</i></a></li>
    </ul>
  </div>
</li>
{% endblock nav_tabs %}
{% block content %}
<main>
  <br><br>
  <div class="container">
    <br><br>
    <div class="row">
      <div class="col s12 m12">
        <div class="card z-depth-3">
          <div class="card-content">
            <form action="/administrative/new_saving_account/" method="post">
              {% csrf_token %}
              <h5>Información de la cuenta de ahorro</h5>
              <br>
              <div class="row">
                <div class="col s4">
                  <div class="input-field">
                    <input required id="{{form.name.id_for_label}}" name="{{form.name.html_name}}" type="text" class="validate">
                    <label for="{{form.name.id_for_label}}">Nombre de la cuenta:</label>
                  </div>
                </div>
                <div class="col s8">
                  <div class="input-field">
                    <select id="{{form.community.id_for_label}}" name="{{form.community.html_name}}" required>
                      {% for choice in form.community.field.queryset %}
                      <option value="{{choice.id}}">{{choice}}</option>
                      {% endfor %}
                    </select>
                    <label for="{{form.community_name.id_for_label}}">Comunidad</label>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col s4">
                  <div class="input-field">
                    <input required id="{{form.municipality.id_for_label}}" name="{{form.municipality.html_name}}" type="text" class="validate" value="{{account.municipality}}">
                    <label for="{{form.municipality.id_for_label}}">Municipio:</label>
                  </div>
                </div>
                <div class="col s6">
                  <div class="input-field">
                    <input required id="{{form.location.id_for_label}}" name="{{form.location.html_name}}" type="text" class="validate" value="{{account.location}}">
                    <label for="{{form.location.id_for_label}}">Ubicación:</label>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col s6">
                  <div class="input-field">
                    <input id="{{form.total_saved_amount.id_for_label}}" name="{{form.total_saved_amount.html_name}}" type="number" class="validate">
                    <label for="{{form.total_saved_amount.id_for_label}}">Monto ahorrado en total:</label>
                  </div>
                </div>
                <div class="input-field col s6">
                  <select required id="{{form.list_of_beneficiaries.id_for_label}}" name="{{form.list_of_beneficiaries.html_name}}" multiple  class="validate">
                    {% for choice in form.list_of_beneficiaries.field.queryset %}
                    <option value="{{choice.id}}">{{choice}}</option>
                    {% endfor %}
                  </select>
                  <label for="{{form.list_of_beneficiaries.id_for_label}}">Beneficiarios en la cuenta de ahorros: </label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s4">
                  <select required id="{{form.president_beneficiary.id_for_label}}" name="{{form.president_beneficiary.html_name}}" class="validate">
                    <option value="" disabled selected> Seleccione un beneficiario </option>
                    {% for choice in form.president_beneficiary.field.queryset %}
                    <option value="{{choice.id}}">{{choice}}</option>
                    {% endfor %}
                  </select>
                  <label for="{{form.president_beneficiary.id_for_label}}">Beneficiario presidente: </label>
                </div>
                <div class="input-field col s4">
                  <select required id="{{form.treasurer_beneficiary.id_for_label}}" name="{{form.treasurer_beneficiary.html_name}}">
                    <option value="" disabled selected> Seleccione un beneficiario </option>
                    {% for choice in form.treasurer_beneficiary.field.queryset %}
                    <option value="{{choice.id}}">{{choice}}</option>
                    {% endfor %}
                  </select>
                  <label for="{{form.treasurer_beneficiary.id_for_label}}">Beneficiario tesorero: </label>
                </div>
                <div class="input-field col s4">
                  <select required id="{{form.partner_beneficiary.id_for_label}}" name="{{form.partner_beneficiary.html_name}}" class="validate">
                    <option value="" disabled selected> Seleccione un beneficiario </option>
                    {% for choice in form.partner_beneficiary.field.queryset %}
                    <option value="{{choice.id}}">{{choice}}</option>
                    {% endfor %}
                  </select>
                  <label for="{{form.partner_beneficiary.id_for_label}}">Beneficiario Socio: </label>
                </div>
              </div>
              <br>
              <div class="row">
                  <button class="btn waves-effect waves-light right" type="submit"value="Submit" name="action">Enviar
                    <i class="material-icons right">send</i>
                  </button>
                  <br><br>
              </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
</main>
{% endblock %}
{% block init_scripts %}
<script src="{%static 'js/page-scripts/dashboard.js' %}"></script>
<script src="{%static 'js/mta_js/directory.js' %}"></script>
{% endblock init_scripts %}
{% block js %}
<script type="text/javascript">
</script>
{% endblock js %}
