{% extends "base.html" %}
{% load static %}
{% load administrative_extras %}
{% block title %}MTA - Inicio{% endblock %}

{% block nav_title %}Inicio{% endblock %}
{% block nav_tabs %}
{% endblock nav_tabs %}

{% block content %}
<main>
  {% if request.user|is_promoter %}
  <div class="fixed-action-btn">
    <a class="btn-floating btn-large red modal-trigger" href="{% url 'administrative:production_report' %}">
      <i class="large material-icons">add</i>
    </a>
  </div>
  {% endif %}
  <div class="container">
    <div class="card">
      <div class="card-content">
        <div class="row">
          <div class="col s12">
            <ul class="tabs ">
              <li class="tab col s3"><a class="active" href="#review">Por revisar</a></li>
              <li class="tab col s6"><a href="#pending">Pendientes de pago</a></li>
              <li class="tab col s3"><a href="#paid">Pagadas</a></li>
            </ul>
          </div>
          <div id="review" class="col s12">
            <table id="review_reports" class="striped highlight">
              <thead>
                <tr>
                    <th>Beneficiario</th>
                    <th>Cambia</th>
                    <th>Por</th>
                    <th>Ver</th>
                </tr>
              </thead>
              <tbody>
                {% for report in review_reports %}
                  <tr>
                      <td>
                        {{report.beneficiary}}
                      </td>
                      <td>
                        Semilla:
                        {{report.exch_seed}} kg
                        <br>
                        Hoja:
                        {{report.exch_leaf}} kg
                      </td>
                      <td>
                        {{report.want_for_seed}}
                        <br>
                        {{report.want_for_leaf}}
                      </td>
                      <td>
                        <a href="{% url 'administrative:administrative_production_report' report.id %}">
                          <i class="material-icons">remove_red_eye</i>
                        </a>
                      </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
          <div id="pending" class="col s12">
            <table class="striped highlight">
              <thead>
                <tr>
                    <th>Beneficiario</th>
                    <th>Cambia</th>
                    <th>Por</th>
                    <th>Ver</th>
                </tr>
              </thead>
              <tbody>
                {% for report in pending_reports %}
                  <tr>
                    <td>
                      {{report.beneficiary}}
                    </td>
                    <td>
                      Semilla:
                      {{report.exch_seed}} kg
                      <br>
                      Hoja:
                      {{report.exch_leaf}} kg
                    </td>
                    <td>
                      {{report.want_for_seed}}
                      {% if report.want_for_seed == 'Efectivo'%}
                        $
                      {% endif %}
                      {{report.get_for_seed_qty}}
                      {% if report.want_for_seed != 'Efectivo'%}
                        kg
                      {% endif %}
                      <br>
                      {{report.want_for_leaf}}
                      {% if report.want_for_leaf == 'Efectivo'%}
                        $
                      {% endif %}
                      {{report.get_for_leaf_qty}}
                      {% if report.want_for_leaf != 'Efectivo'%}
                        kg
                      {% endif %}
                    </td>
                    <td>
                      <a href="{% url 'administrative:administrative_production_report' report.id %}">
                        <i class="material-icons">remove_red_eye</i>
                      </a>
                    </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
          <div id="paid" class="col s12">
            <table class="striped highlight">
              <thead>
                <tr>
                  <th>Beneficiario</th>
                  <th>Cambió</th>
                  <th>Por</th>
                  <th>Ver</th>
                </tr>
              </thead>
              <tbody>
                {% for report in paid_reports %}
                <tr>
                  <td>
                    {{report.beneficiary}}
                  </td>
                  <td>
                    Semilla:
                    {{report.exch_seed}} kg
                    <br>
                    Hoja:
                    {{report.exch_leaf}} kg
                  </td>
                  <td>
                    {{report.want_for_seed}}
                    <br>
                    {{report.want_for_leaf}}
                  </td>
                  <td>
                    <a href="{% url 'administrative:administrative_production_report' report.id %}">
                      <i class="material-icons">remove_red_eye</i>
                    </a>
                  </td>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock content %}
{% block init_scripts %}
{% endblock init_scripts %}
{% block js %}
<script type="text/javascript">
  $(document).ready(function(){
    //Inicializar componentes
    $('.tabs').tabs(
      swipeable=true
    );
    $('#review_reports').DataTable({
      "language": {
        "decimal": "",
        "emptyTable": "No hay datos disponibles",
        "info": "Mostrando _START_ a _END_ de _TOTAL_ totales",
        "infoEmpty": "Mostrando 0 a 0 de 0",
        "infoFiltered": "",
        "infoPostFix": "",
        "thousands": ",",
        "lengthMenu": "",
        "loadingRecords": "Cargando...",
        "processing": "Procesando...",
        "search": "Buscar:",
        "zeroRecords": "No se encontraron registros",
        "paginate": {
          "first": "Primero",
          "last": "Último",
          "next": "Siguiente",
          "previous": "Anterior"
        },
        "aria": {
          "sortAscending": ": activate to sort column ascending",
          "sortDescending": ": activate to sort column descending"
        }
      }
    });
  });

</script>
{% endblock js %}
