{% extends "base.html" %}
{% load static %}
{% block title %}Reporte de Producción{% endblock %}

{% block nav_title %}Reporte de Producción{% endblock %}
{% block nav_tabs %}
<!-- Should be doing this based on the current logged user -->
{% endblock nav_tabs %}

{% block content %}
<main>
  <div class="row center-align">
    <form action="/administrative/administrative_production_report/{{prod_report.id}}" method="post">
      {% csrf_token %}
      <div class="col s12">
        <div class="row">
          <h3>Autoconsumo</h3>
          <div class="col s3">
            <div class="row">
              Semilla:
            </div>
            <div class="input-field inline">
              <input disabled required id="{{production_report_form.self_seed.id_for_label}}" name="{{production_report_form.self_seed.html_name}}" type="number" class="validate" step="0.1" value="{{prod_report.self_seed}}">
              <label for="{{production_report_form.self_seed.id_for_label}}">Kg</label>
            </div>
          </div>
          <div class="col s3">
            <div class="row">
              Hoja:
            </div>
            <div class="input-field inline">
              <input disabled required id="{{production_report_form.self_leaf.id_for_label}}" name="{{production_report_form.self_leaf.html_name}}" type="number" class="validate" step="0.1" value="{{prod_report.self_leaf}}">
              <label for="{{production_report_form.self_leaf.id_for_label}}">Kg</label>
            </div>
          </div>
          <div class="col s3">
            <div class="row">
              Harina:
            </div>
            <div class="input-field inline">
              <input disabled required id="{{production_report_form.self_flour.id_for_label}}" name="{{production_report_form.self_flour.html_name}}" type="number" class="validate" step="0.1" value="{{prod_report.self_flour}}">
              <label for="{{production_report_form.self_flour.id_for_label}}">Kg</label>
            </div>
          </div>
          <div class="col s3">
            <div class="row">
              Días por mes:
            </div>
            <div class="input-field inline">
              <input disabled required id="{{production_report_form.days_per_month.id_for_label}}" name="{{production_report_form.days_per_month.html_name}}" type="number" class="validate" max=31 value="{{prod_report.days_per_month}}">
              <label for="{{production_report_form.days_per_month.id_for_label}}">#</label>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col s6">
            <h3>Trueque MTa</h3>
            <div class="row">
              <div class="col s2"> </div>
              <div class="col s4">
                Semilla:
                <div class="input-field inline">
                  {% if prod_report.get_for_seed_qty != 0 %}
                  <input disabled id="{{production_report_form.exch_seed.id_for_label}}" name="{{production_report_form.exch_seed.html_name}}" type="number" class="validate" step="0.1" value="{{prod_report.exch_seed}}">
                  {% else %}
                  <input id="{{production_report_form.exch_seed.id_for_label}}" name="{{production_report_form.exch_seed.html_name}}" type="number" class="validate" step="0.1" value="{{prod_report.exch_seed}}">
                  {% endif %}
                  <label for="{{production_report_form.exch_seed.id_for_label}}">Kg</label>
                </div>
              </div>
              <div class="col s4">
                Por
                <div class="input-field inline">
                  {% if prod_report.get_for_seed_qty != 0 %}
                  <select disabled id="{{production_report_form.want_for_seed.id_for_label}}" name="{{production_report_form.want_for_seed.html_name}}">
                    <option value="{{prod_report.want_for_seed}}" disabled selected>{{prod_report.want_for_seed}}</option>
                  </select>
                  {% else %}
                  <select id="{{production_report_form.want_for_seed.id_for_label}}" name="{{production_report_form.want_for_seed.html_name}}">
                    <option value="{{prod_report.want_for_seed}}" disabled selected>{{prod_report.want_for_seed}}</option>
                    <option value="Grano reventado">Grano reventado</option>
                    <option value="Hoja congelada">Hoja congelada</option>
                    <option value="Harina">Harina</option>
                    <option value="Efectivo">Efectivo</option>
                  </select>
                  {% endif %}
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col s2"> </div>
              <div class="col s4">
                Hoja:
                <div class="input-field inline">
                  {% if prod_report.get_for_leaf_qty != 0 %}
                  <input disabled id="{{production_report_form.exch_leaf.id_for_label}}" name="{{production_report_form.exch_leaf.html_name}}" type="number" class="validate" step="0.1" value="{{prod_report.exch_leaf}}">
                  {% else %}
                  <input id="{{production_report_form.exch_leaf.id_for_label}}" name="{{production_report_form.exch_leaf.html_name}}" type="number" class="validate" step="0.1" value="{{prod_report.exch_leaf}}">
                  {% endif %}
                  <label for="{{production_report_form.exch_leaf.id_for_label}}">Kg</label>
                </div>
              </div>
              <div class="col s4">
                Por
                <div class="input-field inline">
                  {% if prod_report.get_for_leaf_qty != 0 %}
                  <select disabled id="{{production_report_form.want_for_leaf.id_for_label}}" name="{{production_report_form.want_for_leaf.html_name}}" value="{{prod_report.want_for_leaf}}">
                    <option value="{{prod_report.want_for_leaf}}" disabled selected>{{prod_report.want_for_leaf}}</option>
                  </select>
                  {% else %}
                  <select id="{{production_report_form.want_for_leaf.id_for_label}}" name="{{production_report_form.want_for_leaf.html_name}}" value="{{prod_report.want_for_leaf}}">
                    <option value="{{prod_report.want_for_leaf}}" disabled selected>{{prod_report.want_for_leaf}}</option>
                    <option value="Grano reventado">Grano reventado</option>
                    <option value="Hoja congelada">Hoja congelada</option>
                    <option value="Harina">Harina</option>
                    <option value="Efectivo">Efectivo</option>
                  </select>
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
          <div class="col s6">
            <h3>Recepción</h3>
            <div class="col s8">
              <div class="row">
                <div class="col s3"> </div>
                <div class="col s6">
                  Por pagar:
                  <div class="input-field inline">

                    <input disabled id="{{production_report_form.get_for_seed_qty.id_for_label}}" name="{{production_report_form.get_for_seed_qty.html_name}}" type="number" class="validate" step="0.1" value="{{prod_report.get_for_seed_qty}}">

                    <label for="{{production_report_form.get_for_seed_qty.id_for_label}}">Cantidad</label>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col s3"> </div>
                <div class="col s6">
                  Por pagar:
                  <div class="input-field inline">

                    <input disabled id="{{production_report_form.get_for_leaf_qty.id_for_label}}" name="{{production_report_form.get_for_leaf_qty.html_name}}" type="number" class="validate" step="0.1" value="{{prod_report.get_for_leaf_qty}}">

                    <label for="{{production_report_form.get_for_leaf_qty.id_for_label}}">Cantidad</label>
                  </div>
                </div>
              </div>
            </div>
            <div class="col s4">
              <div class="row"> </div>
              <div class="row"> </div>
              <div class="row"> </div>
              <div class="row"> </div>
              <div class="row"> </div>
              <div class="row">
                <label>
                  {% if prod_report.paid == True %}
                  <span>Pagado</span>
                  {% else %}
                  <span>No pagado</span>
                  {% endif %}

                </label>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          {% if prod_report.paid != True %}
          <button class="btn waves-effect waves-light" type="submit" value="Submit" name="action">Guardar
            <i class="material-icons right">lock</i>
          </button>
          {% endif %}
        </div>
      </div>
    </form>
  </div>
</main>
{% endblock content %}

{% block init_scripts %}
<script src="{%static 'js/page-scripts/dashboard.js' %}"></script>
{% endblock init_scripts %}
{% block js %}
<script type="text/javascript">
  // Initialize Floating Action Button
  $(document).ready(function() {
    $('.fixed-action-btn').floatingActionButton();
  });

  if (!document.getElementById("{{production_report_form.paid.id_for_label}}").checked) {
    $("#{{production_report_form.paid.id_for_label}}").on('change', function() {
      document.getElementById('paid_hidden').disabled = !document.getElementById('paid_hidden').disabled;
    });
  }

  $(document).ready(function() {
    $('select').formSelect();
  });
</script>
{% endblock js %}
