{% extends "base.html" %}
{% load static %}
{% block title %}Sesiones semanales{% endblock %}

{% block nav_title %}Sesiones semanales{% endblock %}
{% block nav_tabs %}
{% endblock nav_tabs %}

{% block content %}
    <main>
      <br><br>
      <div class="container">
        <div class="row">
          <div class="col s12 m12">
            <div class="card z-depth-3">
              <div class="card-content">

                <h5>Sesiones pasadas</h5>
                <table class="striped" id="sessions">
                  <thead>
                    <tr>
                        <th>Tipo</th>
                        <th>Tema</th>
                        <th>Fecha</th>
                        <th>Asistentes</th>
                        <th></th>
                    </tr>
                  </thead>

                  <tbody>
                    {% for session in weekly_sessions %}
                      <tr>
                        <td>{{ session.type }}</td>
                        <td>{{ session.topic }}</td>
                        <td>{{ session.date|date:"d / m / Y" }}</td>
                        <td>{{ session.assistant_count }}</td>
                        <td>
                          <a class="modal-trigger view_session" onclick="ajaxCall({{session.id}})">
                            <i class="material-icons">remove_red_eye</i>
                          </a>
                        </td>
                      </tr>
                    {% empty %}
                      <tr>
                        <td>No hay sesiones pasadas.</td>
                      </tr>
                    {% endfor %}

                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>

        <div id="session-modal" class="modal">
          <div class="modal-content">
            <div class="row">
              <div class="col s11 m11">
                <h4>Sesión</h4>
              </div>
              <div class="col s1 m1">
                <a class="btn-floating btn-large blue modal-trigger" id="edit" href="">
                  <i class="large material-icons">edit</i>
                </a>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col s4"><b>Tipo: </b><span id="type-text">loremipsum</span></div>
              <div class="col s4"><b>Tema: </b><span id="topic-text">loremipsum</span></div>
            </div>
            <div class="row">
              <div class="col s4"><b>Fecha: </b><span id="date-text">loremipsum</span></div>
              <div class="col s4"><b>Hora inicio: </b><span id="start-text">loremipsum</span></div>
              <div class="col s4"><b>Hora fin: </b><span id="end-text">loremipsum</span></div>
            </div><hr>
            <div class="row">
              <div class="col s12"><b>Asistentes:</b></div>
              <div class="col s12"><span id="assistants-list"></span></div>
            </div><hr>
            <div class="row">
              <div class="col s12"><b>Evidencias:</b></div>
              {% load static %}
              <span id="evidences"></span>
            </div>
            <br>
          </div>
        </div>
      </div>
      <div class="fixed-action-btn">
        <a class="btn-floating btn-large red modal-trigger"  href="#modal1">
          <i class="large material-icons">add</i>
        </a>
      </div>
    </main>

      <!-- Modal Structure -->
      <div id="modal1" class="modal">
        <div class="modal-content">
          <h4>Nueva Sesión</h4>
          <form action="/administrative/weekly_sessions/" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row">
              <div class="input-field col s12 m4">
                <label for="{{weekly_session_form.date.id_for_label}}">Fecha</label>
                <input required id="{{weekly_session_form.date.id_for_label}}" name="{{weekly_session_form.date.html_name}}" type="text" class="validate datepicker" max="{{curdate}}">
              </div>
              <div class="input-field col s12 m4">
                <label for="{{weekly_session_form.start_time.id_for_label}}">Hora de inicio</label>
                <input required id="{{weekly_session_form.start_time.id_for_label}}" name="{{weekly_session_form.start_time.html_name}}" type="text" class="timepicker">
              </div>
              <div class="input-field col s12 m4">
                <label for="{{weekly_session_form.end_time.id_for_label}}">Hora de fin</label>
                <input required id="{{weekly_session_form.end_time.id_for_label}}" name="{{weekly_session_form.end_time.html_name}}" type="text" class="timepicker">
              </div>
              <div class="input-field col s12 m12">
                <label for="{{weekly_session_form.type.id_for_label}}">Tipo</label>
                <input required id="{{weekly_session_form.type.id_for_label}}" name="{{weekly_session_form.type.html_name}}" type="text" class="validate">
              </div>
              <div class="input-field col s12 m12">
                <label for="{{weekly_session_form.topic.id_for_label}}">Tema</label>
                <input required id="{{weekly_session_form.topic.id_for_label}}" name="{{weekly_session_form.topic.html_name}}" type="text" class="validate">
              </div>
              <div class="input-field col s4 m4">
                <label for="{{weekly_session_form.assistants.id_for_label}}" class="active">Asistentes</label>
                <input type="text" id="search" onkeyup="filter_assistants()" placeholder="Buscar...">
                {% for choice in weekly_session_form.assistants.field.queryset %}
                  {% if choice in beneficiaries %}
                  <div class="input-field"><br>
                    <label name=assistant_check>
                      <input type="checkbox" id="{{weekly_session_form.assistants.id_for_label}}" name="{{weekly_session_form.assistants.html_name}}" value="{{choice.id}}">
                      <span>{{choice}}</span>
                    </label>
                  </div>
                  {% endif %}
                {% endfor %}
              </div>
            </div>
            <br><br><br>
            <div class="row">
              <div class="file-field input-field">
                <div class="btn">
                  <span>Evidencia</span>
                  <input type="file" id="{{weekly_session_form.evidence.id_for_label}}" name="{{weekly_session_form.evidence.html_name}}" accept="image/*" multiple>
                </div>
                <div class="file-path-wrapper">
                  <input class="file-path validate" type="text" placeholder="Sube una o más evidencias!">
                </div>
              </div>
              <button class="btn waves-effect waves-light right" type="submit"value="Submit" name="action">Enviar
                <i class="material-icons right">send</i>
              </button>
            </div>
            <br><br>
          </form>
        </div>

{% endblock content %}
{% block init_scripts %}
<script src="{%static 'js/page-scripts/dashboard.js' %}"></script>
{% endblock init_scripts %}
{% block js %}
<script type="text/javascript">
  // Initialize Floating Action Button
  $(document).ready(function(){
    $('.fixed-action-btn').floatingActionButton();
    $('.timepicker').timepicker({
      container: 'body',
    });
    $('.datepicker').datepicker({
      format:'dd-mm-yyyy',
      container: 'body',
      i18n: {
                months: ["Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre"],
                monthsShort: ["Ene", "Feb", "Mar", "Abr", "May", "Jun", "Jul", "Ago", "Set", "Oct", "Nov", "Dic"],
                weekdays: ["Domingo","Lunes", "Martes", "Miércoles", "Jueves", "Viernes", "Sábado"],
                weekdaysShort: ["Dom","Lun", "Mar", "Mie", "Jue", "Vie", "Sab"],
                weekdaysAbbrev: ["D","L", "M", "M", "J", "V", "S"]
            }
    });

    $.fn.dataTable.ext.classes.sPageButton = 'waves-effect waves-teal btn-flat'; // Change Pagination Button Class

    $('#sessions').DataTable({
      "pageLength": 10,
      "lengthChange": false,
      "searching": false,
      "ordering": false,
      "info":     false,

      "language": {
        "paginate": {
          "previous": "anterior",
          "next": "siguiente"
        }
      }

    });
    $(".view_session").mouseover(function(){
        $('.view_session').css({'cursor': 'pointer'});
    });

  });

  $( "#assistants" ).focusout(function() {
    $("#search").val('');
    filter_assistants();
  })

  $('[name="{{weekly_session_form.assistants.html_name}}"]').click(function() {
    clear();
  });

  function filter_assistants() {
    // Declare variables
    var input, filter, table, tr, td, i;
    input = document.getElementById("search");
    filter = input.value.toUpperCase();
    option = document.getElementsByName("assistant_check");

    // Loop through all table rows, and hide those who don't match the search query
    for (i = 0; i < option.length; i++) {
      td = option[i].children[1];
      if (td) {
        if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
          option[i].parentElement.style.display = "";
        } else {
          option[i].parentElement.style.display = "none";
        }
      }
    }
  }

  function clear(){
    $("#search").val('');
    filter_assistants();
  }

  function ajaxCall(id){
    path = "/administrative/get_weekly_session/" + id;
    $.ajax({
      method: "GET",
      url: path
    }).done(function(data) {
      var date = new Date(data['date']);
      day = date.getDate()+1;
      month = date.getMonth()+1;
      year = date.getFullYear();

      $("#type-text").text(data['type']);
      $("#topic-text").text(data['topic']);
      $("#date-text").text(day + ' / ' + month + ' / ' + year);
      $("#start-text").text(data['start']);
      $("#end-text").text(data['end']);
      $("#edit").attr("href", "/administrative/edit_weekly_session/" + id + "/");

      var assistants = data['assistants'].split(",");
      var change = "";
      for(var i=0;i<assistants.length;i++){
        change += "<div class=\"col s4\">" + assistants[i] + "</div>";
      }
      $("#assistants-list").html(change);

      var evidences = data['evidences'].split(",");
      var change = "";

      if (evidences.length == 0){
          change="No se han subido evidencias";
      }else{
        for(var i=0;i<evidences.length;i++){
          change += "<div class=\"col s12 m4 l4\"><img class=\"materialboxed card\" height=\"200px\" width=\"100%\" src=\"/media/administrative/static/weekly_session_evidence/" + evidences[i] + " \"></div>";
        }
      }

      $("#evidences").html(change);

      $('#session-modal').modal('open');
      $('.materialboxed').materialbox();
    });
}


</script>
{% endblock js %}
