{% load static %}
{% load administrative_extras %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="description" content="">
    <title>{% block title %}{% endblock title %}</title>
    <link href="{% static 'css/jqvmap.css' %}" rel="stylesheet">
    <link href="{% static 'css/flag-icon-css/css/flag-icon.min.css' %}" rel="stylesheet">
    <!-- Fullcalendar-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.7.0/fullcalendar.min.css" rel="stylesheet">
    <!-- Materialize-->
    <link href="{% static 'css/admin-materialize.min.cs' %}s" rel="stylesheet">
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">
    <link href="{% static 'css/dataTables.css' %}" rel="stylesheet">
    <!-- Material Icons-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  {% block addhead %}{% endblock addhead %}
  </head>
  <body class="has-fixed-sidenav">
    <header>
      <div class="navbar-fixed">
        <nav class="navbar white">
          <div class="nav-wrapper">
            <a class="brand-logo grey-text text-darken-4">{% block nav_title %}{% endblock nav_title %}</a>
            <div style="float:right;">
              <a href="{% url 'profiles:logout' %}">
                <i class="material-icons" style="color:black; font-size:36px;">logout</i>
              </a>
            </div>
          </div>
        </nav>
      </div>
      <ul id="sidenav-left" class="sidenav sidenav-fixed">
        <li><a href="dashboard.html" class="logo-container">MTa<i class="material-icons left">spa</i></a></li>
        <li class="no-padding">
          <ul class="collapsible collapsible-accordion">
            {% if request.user|has_group:"Director" %}
            <li class="bold waves-effect"><a class="collapsible-header" href="{% url 'administrative:production_report' %}">Reportes de producción</a></li>
            <li class="bold waves-effect"><a class="collapsible-header" href="{% url 'directory:index' %}">Directorio</a></li>
            <li class="bold waves-effect"><a class="collapsible-header" href="{% url 'administrative:communities' %}">Comunidades</a></li>
            <li class="bold waves-effect"><a class="collapsible-header" href="{% url 'administrative:alerts' %}">Alertas</a></li>
            {% endif %}
            {% if request.user|has_group:"Técnico de Campo" %}
            <li class="bold waves-effect"><a class="collapsible-header" href="{% url 'administrative:production_report' %}">Reportes de producción</a></li>
            <li class="bold waves-effect"><a class="collapsible-header" href="{% url 'administrative:new_saving_account' %}">Registrar Caja de Ahorro</a></li>
            <li class="bold waves-effect"><a class="collapsible-header" href="{% url 'gallery:index' %}">Galeria</a></li>
            {% endif %}
            {% block nav_tabs %}{% endblock nav_tabs %}
          </ul>
        </li>
      </ul>
    </header>
    <main class="main">
      {% block content %}
      {% endblock content %}
    </main>
    {% block bottom_nav %}{% endblock bottom_nav %}
<!-- Scripts -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="{%static 'js/materialize.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.19.2/moment.min.js"></script>

<!-- External libraries -->
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.18/datatables.min.js"></script>


<!-- jqvmap -->
    <script type="text/javascript" src="{%static 'js/jqvmap/jquery.vmap.min.js' %}"></script>
    <script type="text/javascript" src="{%static 'js/jqvmap/jquery.vmap.world.js' %}" charset="utf-8"></script>
    <script type="text/javascript" src="{%static 'js/jqvmap/jquery.vmap.sampledata.js' %}"></script>

<!-- ChartJS -->
    <script type="text/javascript" src="{%static 'js/Chart.js' %}"></script>
    <script type="text/javascript" src="{%static 'js/Chart.Financial.js' %}"></script>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.7.0/fullcalendar.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.16/datatables.min.js"></script>
    <script src="{%static 'js/imagesloaded.pkgd.min.js' %}"></script>
    <script src="{%static 'js/masonry.pkgd.min.js' %}"></script>


<!-- Initialization script -->
    <script src="{%static 'js/admin.js' %}"></script>
    {% block init_scripts %}{% endblock init_scripts %}
    <script src="{%static 'js/init.js' %}"></script>
    {% block js %}{% endblock js %}
    <script type="text/javascript">
    $(document).ready(function(){
      //CSRF Token para peticiones POST
      var csrftoken = $.cookie('csrftoken');
      function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
      }
        $.ajaxSetup({
          beforeSend: function(xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
              xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
          }
        });
      });
    </script>
    {% if messages %}
    <script type="text/javascript">
      {%for message in messages %}
          {% if message.level != 40 %}
            M.toast({html: '{{message}}'})
          {% endif %}
      {% endfor %}
    </script>
    {% endif %}
  </body>
</html>
